 <div class="form-style-10">
    <h1>Enter your amount</h1>
    <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
        <div class="section"><span>1</span>Amount and Months</div>
        <div class="inner-wrap">
            <div class="form-group">
            <label>Amount(500-5000)<input id="amount" type="text" class = "amount" formControlName="amount" 
                   /></label>
               
            </div>
            
            <div >
            <label>Address 
                

                <input id="ex6"  type="number" class = "numMonths" data-slider-min="6" data-slider-max="24" data-slider-step="1" data-slider-value="3"/>
<span id="ex6CurrentSliderValLabel">Current Slider Value: <span class ="junga" id="ex6SliderVal">6</span></span>
            </label>
                </div>
        </div>
    
       
    
       
        <div class="button-section">
         <input type="submit" name="Sign Up" />
         
        </div>
    </form>
    </div> 
<div *ngIf="check">

    <h1>Interest Rate: {{data['interestRate']}}</h1>
    <h1>Monthly Payment:{{data['monthlyPayment']['amount']}}</h1>
</div>


    